.img_content {
  max-width: 750px;
  width: 100%;
  margin: 50px auto;
  box-sizing: border-box;
}

.img_content .each-slide-effect {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
}

.img_content img {
  display: block;
  object-fit: contain;
  background-color: #fff;
  width: 100%;
  height: auto;
  aspect-ratio: 1001 / 707;
}

@media (max-width: 900px) {
  .img_content {
    margin: 20px auto;
  }

  .img_content .each-slide-effect {
    padding: 0 8px;
  }
}
