.img_content {
  max-width: 750px;
  width: 100%;
  margin: 50px auto;
  box-sizing: border-box;
}

.img_content .each-slide-effect {
  width: 100%;
}

.img_content img {
  display: block;
  object-fit: contain;
  background-color: #fff;
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
}

@media (max-width: 900px) {
  .img_content {
    margin: 20px auto;
  }
}
